body{
    background-color: rgb(233, 230, 230);
}
.input-email{
    width: 350px;
}
.btn{
    width: 350px;
    margin-top: 20px;
}
.forgot-password{
    color: rgb(150, 147, 147);
    margin-top: 20px;
    cursor: pointer;
}
.forgot-password:hover{
    color: #000;
}